body{
    height: 100%;
    width: 100%;
    display:flex ;
    flex-wrap: wrap;
}

.caja{
    margin: 2rem;
    height: 30%;
    width: 30%;
    border: 2px black solid;
    padding: 2rem;
    border-radius: 3rem;
}
.text{
    display: flex;
    text-align: center;
    margin: 2rem;
}